<div class="p-2">
    <h4 class="border-bottom py-2">SMS Notification</h4>
    <p class="mt-3 small">
        SMS Notification can also be enabled if you implement integration with a 3rd-party
        SMS provider. As the other microservices, the 
        <span class="badge badge-success">SMS Notification microservice</span>
        responds to asynchronous messages
        exchanged via a RabbitMQ Docker container and processed by a .NET Core backend.
    </p>
</div>
