@{
    ViewData["Title"] = "About ASP.NET Microservices";
}

<partial name="~/Views/Partials/Home/_Header.cshtml" />

<div class="alert alert-danger mt-5" role="alert">
    Note: This information is a clone of
    <a href="https://github.com/hd9/aspnet-microservices#aspnet-microservices">https://github.com/hd9/aspnet-microservices#aspnet-microservices</a>.
    Please refer to that link for the most up-to-date information.
</div>

<partial name="~/Views/Partials/Home/_Help.cshtml" />

