@{
    ViewData["Title"] = "Create Account";
}

<div class="row my-lg-5">
    <div class="col-md-6 col-sm-8">
        <partial name="~/Views/Partials/Account/_Create.cshtml" />
    </div>
</div>

<script src="~/js/account/index.js"></script>