@{
    ViewData["Title"] = "Account Details";
    ViewData["BtnTxt"] = "Update Account";
}

<h2>@ViewData["Title"]</h2>

<partial name="~/Views/Partials/Account/_Details.cshtml" />
<div class="my-2">
    <a asp-action="Index" class="btn btn-primary">Back to account</a>
    <a asp-action="Update" class="btn btn-danger">Edit</a>
</div>

<script src="~/js/account.js"></script>