@{
    ViewData["Title"] = "Account Details";
    ViewData["BtnTxt"] = "Update Account";
}

<h2>@ViewData["Title"]</h2>

<partial name="~/Views/Partials/Account/_Details.cshtml" />

<script src="~/js/account.js"></script>