@using System.Security.Claims;
@{
    ViewData["Title"] = "My Account";
    var name = User.FindFirstValue("Name");
}

<div id="acctApp" class="my-lg-3">
    <h4 class="display-4">@ViewData["Title"]</h4>
    <p class="lead">Welcome back, @name!</p>
    <partial name="~/Views/Partials/Account/_MyAccount.cshtml" />
    <div class="my-3">
        <a asp-controller="Home" class="btn btn-primary">Keep shopping</a>
        <a asp-action="SignOut" class="btn btn-danger">Sign out</a>

    </div>
</div>

<script src="~/js/account.js"></script>