@{
    ViewData["Title"] = "Account";
}

    <div id="acctApp" class="my-lg-5">
        <h4 class="display-4">My Account</h4>
        <p class="lead">Welcome back!</p>
        <partial name="~/Views/Partials/Account/_MyAccount.cshtml" />
        <a class="btn btn-danger my-3" href="/account/signout">Sign out</a>
    </div>

<script src="~/js/account.js"></script>