@{
    ViewData["Title"] = "My Payments";
    ViewData["ShowOptions"] = "True";
}

<h2>@ViewData["Title"]</h2>
<p class="lead mb-3">Here's your list of payment types.</p>

<partial name="~/Views/Partials/Account/_PaymentOptions.cshtml" />

<div class="my-2">
    <a asp-action="Index" class="btn btn-primary">Back to account</a>
    <a asp-action="AddPayment" class="btn btn-danger">Add Payment</a>
</div>

<script src="~/js/account.js"></script>