@{
    ViewData["Title"] = "Account SignIn";
}

<div class="row my-lg-5">
    <div class="col-md-4">
        <partial name="~/Views/Partials/Account/_SignIn.cshtml" />
    </div>
</div>

<script src="~/js/account.js"></script>