
<div class="jumbotron p-5 my-2">
    <h1>ASP.NET Microservices</h1>
    <p>
        This is a sample application to demo Microservices in .NET
        using ASP.NET Core, Docker, Redis, MongoDB, MySQL, Vue.js, MassTransit,
        Azure App Services, Azure AKS and Kubernetes.
        The source code is
        <a href="https://choosealicense.com/licenses/mit/">MIT licensed</a>
        and is available at
        <a href="https://github.com/hd9/aspnet-microservices">github.com/hd9/aspnet-microservices</a>.
    </p>
    <strong>
        To learn more about this app, microservices, Docker, Azure and Kubernetes,
        check: <a href="https://blog.hildenco.com">blog.hildenco.com</a>
    </strong>
</div>
