
<div class="jumbotron">
    <h1>ASP.NET Microservices</h1>
    <p>
        This is a sample application to demo Microservices in .NET
        using ASP.NET Core, Docker Compose, MongoDB, Vue.js, Azure App Services,
        Azure AKS and Kubernetes. To learn more about this app, Docker, Azure and microservices, please check our blog at: <a href="https://blog.hildenco.com">blog.hildenco.com</a>
    </p>
    <p class="lead">Source code at: <a href="https://github.com/hd9/aspnet-microservices">github.com/hd9/aspnet-microservices</a></p>
</div>
