@{ 
    var nlClaim = User.FindFirst("NewsletterSubscribed");
    var nlSubscribed = nlClaim != null && nlClaim.Value == "True";
}

<div class="row">
    <div class="col-md-8 col-sm-12">
        <partial name="~/Views/Partials/Catalog/_Categories.cshtml" />
    </div>
    <div class="col-md-4">
        @if (!User.Identity.IsAuthenticated)
        {
            <partial name="~/Views/Partials/Home/_SignIn.cshtml" />
        }
        else
        {
            <partial name="~/Views/Partials/Home/_SignInInfo.cshtml" />
        }
        @if (!nlSubscribed)
        {
            <partial name="~/Views/Partials/Newsletter/_Newsletter.cshtml" />
        }
        <partial name="~/Views/Partials/Notification/_Notifications.cshtml" />
    </div>
</div>
