@using System.Security.Claims;
@{
    var nlSubscribed = User.FindFirstValue("NewsletterSubscribed") == "True";
}

<div class="row">
    <div class="col-md-9 col-sm-12">
        <partial name="~/Views/Partials/Catalog/_Categories.cshtml" />
    </div>
    <div class="col-md-3">
        @if (!User.Identity.IsAuthenticated)
        {
            <partial name="~/Views/Partials/Home/_SignIn.cshtml" />
        }
        else
        {
            <partial name="~/Views/Partials/Home/_SignInInfo.cshtml" />
        }
        @if (!nlSubscribed)
        {
            <partial name="~/Views/Partials/Newsletter/_Newsletter.cshtml" />
        }
        <partial name="~/Views/Partials/Notification/_Notifications.cshtml" />
    </div>
</div>
