

<div class="row">
    <div class="col-md-8 col-sm-12">
        <partial name="~/Views/Partials/Catalog/_Categories.cshtml" />
    </div>
    <div class="col-md-4">
        <partial name="~/Views/Partials/Home/_SignIn.cshtml" />
        <partial name="~/Views/Partials/Newsletter/_Newsletter.cshtml" />
        <partial name="~/Views/Partials/Notification/_Notifications.cshtml" />
    </div>
</div>
