
<div class="mb-lg-2 bg-light p-4 mt-3">
    <h4>Sign in</h4>
    <p class="mb-3 small">Sign in or create an account for a best experience.</p>
    <a href="/account/signin">Sign In</a> | <a href="/account/create">Create Account</a>
</div>

