
<div class="mb-lg-2 bg-light p-4 mt-3">
    <h4>Sign in</h4>
    <p class="mb-3 small">Sign in or create an account for a best experience.</p>
    <a asp-controller="Account" asp-action="SignIn">Sign In</a> |
    <a asp-controller="Account" asp-action="Create">Create Account</a>
</div>

