@{
    ViewData["Title"] = "Checkout";
    ViewData["SmWidth"] = "12";
}

<h2 class="display-4">@ViewData["Title"]</h2>
<p class="lead mb-4">Please review the information below. You'll have a chance to review your cart on the next step.</p>
<div class="row small">

    <div class="col-md-6">
        <partial name="~/Views/Partials/Account/_AddressOptions.cshtml" />
    </div>
    <div class="col-md-6">
        <partial name="~/Views/Partials/Account/_PaymentOptions.cshtml" />
    </div>
</div>
<div class="row">
    <div class="col-sm-12 mt-3 text-right pt-2" id="checkoutCart">
        <a asp-controller="Home" asp-action="Index" class="btn btn-outline-secondary btn-sm">Continue Shopping</a>
        <a asp-action="Index" class="btn btn-outline-secondary btn-sm">Change Cart</a>
        <button v-on:click="submit" class="btn btn-danger btn-sm">Review and Submit</button>
    </div>
</div>

<script src="~/js/catalog.js"></script>
<script src="~/js/account.js"></script>
