<div class="row my-lg-3" id="editAcctApp">
    <div class="col-md-10 col-sm-12 col-lg-6">
        <h3 class="display-4">@ViewData["Title"]</h3>
        <p class="lead">These are the current settings for your account.</p>
        <form asp-action="Update">
            <partial name="~/Views/Partials/Account/_AccountForm.cshtml" />
            <div class="my-3">
                <a asp-action="Index" class="btn btn-primary" v-if="!editMode">Back to account</a>
                <a class="btn btn-primary" v-on:click="cancel" v-if="editMode" href="#">Cancel</a>
                <button type="submit" class="btn btn-danger" v-if="editMode">Update</button>
            </div>
        </form>
    </div>
</div>
