@model AccountDetails
@{
    var editMode = (ViewData["EditMode"] ?? "").ToString() == "True";
}

<div class="form-row">
    <div class="form-group col-md-6">
        <label for="inputAddress2">Name:</label>
        @if (editMode)
        {
            <input asp-for="Name" class="form-control" placeholder="Enter your name" />
        }
        else
        {
            <div class="font-weight-light">@Model.Name</div>
        }
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-6">
        <label for="inputEmail4">Email:</label>
        @if (editMode)
        {
            <input asp-for="Email" type="email" class="form-control">
        }
        else
        {
            <div class="font-weight-light">@Model.Email</div>
        }
    </div>
</div>

