<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">My Account</h5>
                <p class="card-text">
                    <ul>
                        <li><a asp-action="Info">My information</a></li>
                        <li><a asp-action="Password">Change Password</a></li>
                        <li><a asp-action="Addresses">My Addresses</a></li>
                        <li><a asp-action="Payments">Payment Methods</a></li>
                        <li><a asp-action="History">Account history</a></li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">My Orders</h5>
                <p class="card-text">
                    <ul>
                        <li><a asp-action="Orders">My orders</a></li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Other</h5>
                <p class="card-text">
                    <ul>
                        <li>Product Recommendations</li>
                        <li>Newsletters</li>
                        <li>etc..</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>