<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">My Account</h5>
                <p class="card-text">
                    Access stuff like:
                    <ul>
                        <li>View/edit personal information</li>
                        <li>etc...</li>
                    </ul>
                </p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">My Orders</h5>
                <p class="card-text">
                    Access stuff like:
                    <ul>
                        <li>View/edit previous orders</li>
                        <li>etc...</li>
                    </ul>
                </p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>