@using Web.Infrastructure.Global;
@{
    ViewData["EditMode"] = true;
    var cur = Site.StoreSettings.CurrencyDisplay;
}

<div class="row" id="myOrdersApp">
    <div class="my-3 col-sm-12">


        <div v-if="hasOrders">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" class="text-center">Order #</th>
                        <th scope="col" style="min-width:50%">Item(s)</th>
                        <th scope="col">Submitted On</th>
                        <th scope="col">Last Update</th>
                        <th scope="col">Status</th>
                        <th scope="col">Total Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="o in orders">
                        <th scope="row" class="text-center">{{ o.id }}</th>
                        <td>
                            <ul class="list-unstyled">
                                <li v-for="li in o.lineItems"> {{ li.name }} </li>
                            </ul>
                            @*{{ o.lineItems.map(e => e.name).join(", ") }}*@
                        </td>
                        <td>{{ new Date(o.createdOn).toDateString() }}</td>
                        <td>{{ new Date(o.lastUpdated).toDateString() }}</td>
                        <td>{{ o.statusName }}</td>
                        <td class="text-danger strong">@cur {{ o.totalPrice.toFixed(2) }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div v-else class="border rounded p-5 w-100 text-center">
            <p class="lead">No orders found for your account.</p>
        </div>



    </div>
</div>

