@model UpdatePassword

<form asp-action="UpdatePassword" method="post">
    <div class="form-group col-md-6">
        <label for="inputEmail4">Current Password:</label>
        <input asp-for="CurrentPassword" type="password" class="form-control">
    </div>
    <div class="form-group col-md-6">
        <label for="inputPassword4">New Password:</label>
        <input asp-for="NewPassword" type="password" class="form-control">
    </div>
    <div class="form-group col-md-6">
        <label for="inputPassword4">Confirm Password:</label>
        <input asp-for="ConfirmPassword" type="password" class="form-control">
    </div>
    <div class="form-group col-md-6">
        <a asp-action="Index" class="btn btn-primary">Cancel</a>
        <button type="submit" class="btn btn-danger">Submit</button>
    </div>
</form>
