<div id="cart">

    <h2 class="display-4 border-bottom mb-3">@ViewData["Title"]</h2>
    <div v-if="hasItems">
        <div class="row">
            <div class="col-sm-12 col-md-9">
                <div class="card mb-3" v-for="(p, i) in products">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <partial name="~/Views/Partials/Catalog/_fakeImg.cshtml" />
                        </div>
                        <div class="col-md-8">
                            <div class="clearfix m-3">
                                <h5 class="float-left"><a :href="'/products/details/' + p.id">{{ p.name }}</a></></h5>
                                <span class="float-right"><span class="text-danger font-weight-bold">$ {{ parseFloat(p.qty * p.price).toFixed(2) }}</span></span>
                            </div>
                            <div class="ml-3">
                                <small>In <a :href="'/products/' + p.cat">{{ p.catName }}</a></small>
                                <p class="card-text text-muted small">
                                    Qty: 
                                    <select v-model="p.qty" v-on:change="onQtyChange">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                    | <a href="#" v-on:click="remove(i)">Remove</a>
                                </p>
                                <small>Shipped and sold by <a href="https://hildenco.com">HildenCo.com</a></small><br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-3 bg-light p-3">
                <h3>Your Order</h3>
                <p class="lead">Summary of your order.</p>
                <p class="font-weight-bold">Subtotal: <span class="text-danger font-weight-bold">$ {{ parseFloat(subtotal).toFixed(2) }}</span></p>
                <div class="text-center py-3">
                    <button class="btn btn-warning btn-sm" v-on:click="clear">Clear Cart</button>
                    <button class="btn btn-primary btn-sm">Checkout</button>
                </div>
                <p class="text-center small"><a asp-controller="Home" asp-action="Index">Continue shopping</a></p>
            </div>
        </div>
    </div>
    <div v-else>
        <p class="lead">It seems your cart is empty 😕.</p>
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Keep shopping</a>
    </div>
</div>
