<div class="p-2">
    <h4 class="border-bottom py-2">Catalog</h4>
    <p class="mt-3 small">
        The catalog is provided by the
        <span class="badge badge-success">Catalog microservice</span>
        which consists of an ASP.NET Core app pulling data from a
        MongoDB container. The catalog information is cached locally
        from the Web microservice on a Redis container.
    </p>
</div>