<div class="p-2">
    <h4 class="border-bottom py-2">Newsletter</h4>
    <p class="mt-3 small">
        The <span class="badge badge-success">Newsletter microservice</span>
        manages newsletter information. It persists email subscriptions primarily on
        a MySQL container.
    </p>
</div>