<div class="p-2">
    <h4 class="border-bottom py-2">Newsletter Service</h4>
    <p>
        The <span class="badge badge-success">Newsletter microservice</span>
        manages newsletter information. It persists email subscriptions primarily on
        a MySQL container. There's no default implementation for newsletter
        oprations such as a scheduled job, etc. Feel free to implement yours.
    </p>
</div>