<div class="p-2">
    <h4 class="border-bottom py-2">Email Notifications</h4>
    <p>
        Notifications are provided via asynchronous messages
        exchanged via a RabbitMQ Docker container and processed by a .NET Core backend.
        Different events (such as newsletter signups, account registrations, etc)
        send an async message to the
        <span class="badge badge-success">Notification microservice</span>
        that's sends and email to the user using Gmail by default.
        The notification service also logs the history of sent messages on a 
        dedicated MySQL database.
    </p>
</div>
