<div class="p-2">
    <h4 class="border-bottom py-2">Payment Service</h4>
    <p>
        The <span class="badge badge-success">Payment microservice</span>
        simulates a payment gateway and manages the payment workflow.
        It persists its data primarily on a MySQL container and communicates
        to the other microservices primarily via asynchronous messages exchanges
        via a RabbitMQ container.
    </p>
</div>