<div class="p-2">
    <h4 class="border-bottom py-2">Shipping</h4>
    <p class="mt-3 small">
        The <span class="badge badge-success">Shipping microservice</span>
        simulates a shipping service by for submitted and approved shopping carts.
        It persists its data primarily on a MySQL container and communicates
        to the other microservices primarily via asynchronous messages exchanges
        via a RabbitMQ container.
    </p>
</div>