<div class="p-2">
    <h4 class="border-bottom py-2">Web</h4>
    <p class="mt-3 small">
        The <span class="badge badge-success">Web microservice</span>
        is this ASP.NET app that you're accessing at the moment.
        It's essentially a BFF (backend for frontend) / Api Gateway
        and is the public interface between the user and the other
        microservices. Web caches catalog, recommendation and data
        from other services is using a Redis container.
    </p>
</div>