<div class="mb-lg-5" id="prodsApp">
    <div class="row" ref="cat" id="@Model.Id">
        <div class="col-sm-6 col-lg-4 my-3" v-for="p in products">
            <div class="card" propName="abc123">
                <div class="card-body">
                    <h5>{{ p.name }}</h5>
                    <a v-bind:href="p.url"><partial name="~/Views/Partials/Catalog/_fakeImg.cshtml" /></a>
                    <p class="small">{{ p.description }}</p>
                    <p class="small text-dark font-weight-bolder">{{ p.currency }}$ {{ p.price}}</p>
                    <p class="small"><a v-bind:href="p.url">View</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
