@{
    ViewData["Title"] = "Home Page";
    ViewData["Category"] = Model.Name;
    ViewData["CategoryId"] = Model.Id;
}

<div>
        <h3 class="display-4 d-block">@Model.Name</h3>
        <p class="lead">@(Model.Description ?? $"Here's our list of products under {Model.Name}")</p>
        <partial name="~/Views/Shared/_breadcrumbs.cshtml" />
</div>

<div class="row">
    <div class="col-md-9 col-sm-12">
        <partial name="~/Views/Partials/Catalog/_Products.cshtml" />
    </div>
    <div class="col-md-3">
        <partial name="~/Views/Partials/Order/_MiniCart.cshtml" />
    </div>
</div>

<script src="~/js/catalog.js"></script>