@using Web.Models.Account;
@model SignIn

<div>
    <h3>Sign In</h3>

    <div class="text-danger my-3">@ViewData["Error"]</div>

    <form method="post">
        <div class="form-group">
            <label for="emlInput">Email address</label>
            <input asp-for="Email" type="email" class="form-control" id="emlInput" aria-describedby="emailHelp" />
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone 😉.</small>
        </div>
        <div class="form-group">
            <label for="pwdInput">Password</label>
            <input asp-for="Password" class="form-control" id="pwdInput">
        </div>
        <button type="submit" class="btn btn-primary">Sign In</button>
    </form>
    <p class="pt-3">
        <a href="/account/create">Don't have an account? Create Account.</a>
    </p>
</div>