<div id="nlApp" class="bg-light p-3 mt-2">
    <h4 class="border-bottom py-2">Newsletter</h4>
    <p class="small">
        Want to subscribe to our newsletter?<br />
        Signups managed by <span class="badge badge-success">Newsletter Microservice</span>.
    </p>
    <div v-if="!submitted">
        <div class="my-2">
            <form>
                <div class="form-group">
                    <label for="formGroupExampleInput">Name</label>
                    <input type="text" class="form-control form-control-sm" placeholder="Enter your name" v-model="name">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control form-control-sm" aria-describedby="emailHelp" v-model="email" v-on:keyup.enter="submit">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else 😊.</small>
                </div>
                <button type="submit" class="btn btn-primary btn-sm" v-on:click="submit">Submit</button>
            </form>
        </div>
    </div>
    <div v-if="submitted" style="min-height:300px">
        <h6>Thanks for submitting!</h6>
        <small>Click <a href="#" v-on:click="resubmit">here</a> to submit another email.</small>
    </div>

</div>