<div class="p-2">
    <h4 class="border-bottom py-2">Recommendations</h4>
    <p class="mt-3 small">
        Recommendations are also provided via asynchronous messages
        exchanged via a RabbitMQ Docker container and processed by a .NET Core backend
        <span class="badge badge-success">Recommendation microservice</span>.
        The service also offers an endpoint to query recommendations (not implemented)
        that responds to requests on every page based on product data.
    </p>
</div>
