@using Web.Models.Account; 
@model List<Address>
@{
    ViewData["Title"] = "My Addresses";
    ViewData["ShowOptions"] = "True";
}

<h2>@ViewData["Title"]</h2>
<p class="lead mb-3">Here's your list of addresses.</p>

<partial name="~/Views/Partials/Account/_AddressOptions.cshtml" />

<div class="my-2">
    <a asp-action="Index" class="btn btn-primary">Back to account</a>
    <a asp-action="AddAddress" class="btn btn-danger">Add Address</a>
</div>

<script src="~/js/account.js"></script>
