@{
    ViewData["Title"] = "Update Password";
}

<h2>@ViewData["Title"]</h2>

@if (TempData["ErrorMsg"] != null)
{
    <div class="p-3 my-3 alert-danger">@TempData["ErrorMsg"]</div>
}

<partial name="~/Views/Partials/Account/_UpdatePassword.cshtml" />

<script src="~/js/account.js"></script>